.button {
  background: #FCFCFC;
  border: 1px solid #E3E3E3;
  border-radius: 0;
  padding: 6px 18px;
  color: #777777;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.08);
}

.button:hover {
  border: 1px solid #CCCCCC;
}

.button:focus {
  border: 1px solid #CCCCCC;
  padding: 5px 17px;
  outline: none;
  box-shadow: 0 0 0 2px #0C61C8;
}

.button:active {
  border: 1px solid #E3E3E3;
  padding: 6px 18px;
  transform: translateY(1px);
  box-shadow: none;
}
